<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
	    <div class="container vertical-center" style="padding-top: 32px">
	        <h2>Ubah Data Pegawai</h2>
	        <div class="card my-5">
	        	<div class="container">
	        		<form th:action="@{/pegawai/ubah}" th:object="${pegawai}" method="POST" style="padding-top:15px">
		            	<input type="hidden" name="nip" th:value="${pegawai.nip}">
		            	
		            	<div class="form-group">
		            		<label for="nama">Nama :</label>
		            		<input type="text" name="nama" class="form-control" th:field="*{nama}">
		            	</div>
		            	<div class="form-group">
		            		<label for="tempatLahir">Tempat Lahir :</label>
		            		<input type="text" name="tempatLahir" class="form-control" th:field="*{tempatLahir}">
		            	</div>
		            	<div class="form-group">
		            		<label for="tanggalLahir">Tanggal Lahir :</label>
		            		<input type="date" name="tanggalLahir" class="form-control" th:field="*{tanggalLahir}">
		            	</div>
		            	<div class="form-group">
		            		<label for="tahunMasuk">Tahun Masuk :</label>
		            		<input type="text" name="tahunMasuk" class="form-control"  th:field="*{tahunMasuk}">
		            	</div>
		            	<div class="form-group">
		            		<label for="provinsi">Provinsi :</label>
		            		<select class="form-control" id="provinsi">
		            		  <option th:value="*{instansi.provinsi.id}" selected="selected" th:text="*{instansi.provinsi.nama}"></option>
							  <option th:each="prov : ${listProvinsi}" 
							          th:value="${prov.id}" 
							          th:text="${prov.nama}">
							 </option>
							</select>
		            	</div>
		            	<div class="form-group">
		            		<label for="instansi">Instansi :</label>
		            		<select class="form-control" id="instansi" name="instansi">
								<option th:value="*{instansi.id}" selected="selected" th:text="*{instansi.nama}"></option>
							</select>
		            	</div>
		            	<div class="form-group">
		            		<label for="jabatan">Jabatan :</label>
		            		<div th:each="jabatan, iterationStats : *{jabatanPegawai}" style="padding:10px">
	            			<select class="form-control" th:field="*{jabatanPegawai[__${iterationStats.index}__]}" >
	            				<option  th:each="jabatan : ${jabatan}" th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
						  		<option th:each="jab : ${listJabatan}" th:value="${jab.id}" th:text="${jab.nama}" ></option>
							</select>		
	            			</div>
		            		<button type="submit" name="tambahBaris" class="btn">Tambah Jabatan Lainnya</button>
		            	</div>
		            	
		            	<div class="card-body">
		                	<input type="submit" name="submit" class="btn btn-primary" value="Simpan">
		            	</div>
	            	</form>
	        	</div>
	        </div>
	        
	        <script
				  src="https://code.jquery.com/jquery-3.3.1.js"
				  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
				  crossorigin="anonymous"></script>
				  
	        <script>
				$(document).ready(function(){
					console.log("hey")
					$('#provinsi').change(function() {
						valueProv = $(this).val();
						console.log(valueProv)
						$.ajax({
							type: "GET",
							url: "http://localhost:8080/pegawai/ubah/instansi?provinsi=",
							data: {
								'provinsiId' : valueProv
							},
							dataType: 'json',
							success: function(data) {
								console.log(data);
								getIns = '';
								var size = data.length;
							
								for (var i = 0; i<size; i++) {
									getIns+='<option value="'+data[i].id+'">'+data[i].nama+'</option>';
									console.log(data[i]);
									console.log(data[i].nama)
								}
								console.log(getIns);
								$('#instansi').append(getIns);
							},
							error: function(rs,e) {
								alert(rs.responseText)
							}
						})
					})
				});
			</script>
	    </div>
	</body>
</html>